.business-card-wrapper {
    border: 1px solid grey;
    border-radius: 25px;
    height: 360px;
    width: 250px;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    transition: all 0.3s ease-out;
}

.business-card-wrapper:hover {
    box-shadow: 2px 2px 2px #d32323;
    transform: translateY(-5px);
}

.business-card-img {
    border-radius: 25px 25px 1px 1px;
    min-width: 250px;
    max-width: 250px;
    max-height: 150px;
    min-height: 150px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.business-card-name {
    inline-size: 80%;
    overflow-wrap: break-word;
    margin-top: 10px;
    font-size: 25px;
    color: #d32323;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
   
}
.business-card-descrip {
    text-align: center;
    inline-size: 80%;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 7px;
}

.business-card-address {
    font-size: 15px;
    font-weight: 300;
}
.business-card-phone {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
}

.business-card-delete {
    width: 50%;
    background-color: #d32323;
    border: none;
    height: 23px;
    color: white;
    font-size: 15px;
    font-weight: 550;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
    
}
.business-card-delete:hover {
background-color: lightcoral;
}
