.review-form-container {
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d32323;
    padding-top: 20px;
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-header {
    font-size: 30px;
    color: #d32323;
    text-decoration: underline;
}

#rating-input {
    width: 50px;
    height: 30px;
}

.review-form > label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

#submit-comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-top: 25px;
    width: 150px;
    background-color: #d32323;
    border: none;
    height: 23px;
    color: white;
    font-size: 15px;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
}

#submit-comment-button:hover {
    background-color: lightcoral;
}

#comment-input {
    width: 550px;
    height: 250px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px;
    border-radius: 25px;
}

#review-button-holder {
    display: flex;
    gap: 20px
}
.review-form > ul {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    color:#d32323
}
